  /* ฟอน */
  @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  * {
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  body {
    display: flex;
  }

  .sideber {
    width: 410px;
    height: 100vh;
    padding: 0 1.7rem;
    background: rgba(255,255,255);
  }

  .logo {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: 50px;
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 43px;
    height: 50px;
    margin-right: 10px; /* ปรับระยะห่างระหว่างรูปภาพและข้อความ */
  }

  .logo span {
    font-size: 13px;
    color: rgb(122, 98, 156);
  }

  .menu {
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
  }

  .menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
  }

  .activer {
    background: rgba(87,53,136);
  }

  .menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .menu a span {
    overflow: hidden;
  }

  .menu a i {
    font-size: 1.2rem;
  }

  .logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 110%;
    background: rgba(87,53,136);
  }

  .logout img{
    width: 40px;
    height: 40px;
    margin-right: -5px; /* ปรับระยะห่างระหว่างรูปภาพและข้อความ */
  }

  .main--content {
    background: #ebe9e9;
    width: 100%;
    padding: 2rem;
  }

  .main--content h1{
    font-size: small;
    margin-bottom: 5px;
  }

  .main--content h5{
    color: gray;
    margin-bottom: 70px;
  }

  button {
    position: relative;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    border: none;
    margin-left: calc(100% - 170px);
    margin-bottom: 25px;
  }
  
  button:hover {
    background-color: rgba(87,53,136);
    color: white;
  }
  
  button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }  
  
  .card-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
  }

  .card--wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .herader--title {
    color: rgba(87,53,136);
    font-size: 30px;
  }

  .searh--box{
    background: rgb(237, 237, 237);
    color: rgba(87,53,136);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
    width: 300px;
  }

  .searh--box input{
    background: transparent;
    padding: 10px;
  }

  .container {
    margin: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    height: 70px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-size: small;
    font-weight: normal;
    color: grey;
  }

  .buttonsave {
    background-color: #4CAF50; /* สีเขียว */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px; /* ลดขนาดตัวอักษร */
    padding: 8px 24px; /* ปรับขนาด padding เพื่อให้เป็นสี่เหลี่ยม */
    margin: 4px 2px;
    cursor: pointer;
    position: relative; /* ต้องใช้ position: relative เพื่อทำการจัดตำแหน่ง */
  }
  
  .checkmark {
    position: absolute; /* ตั้งค่าเป็น absolute เพื่อจัดตำแหน่งที่ต้องการ */
    top: 50%; /* จัดให้ตรงกลางตามแนวตั้ง */
    right: 5px; /* จัดตำแหน่งไว้ทางขวา */
    transform: translateY(-50%); /* ย้ายลงมาให้ตรงกลางตามแนวตั้ง */
    font-size: 16px; /* ปรับขนาดของเครื่องหมายถูกต้อง */
    float: right; /* ให้เครื่องหมายถูกต้องจัดไปทางขวา */
  }  

  .buttonsave:hover {
    background-color: #45a049; /* เมื่อเม้าส์ผ่านไป */
  }

  .buttonstart {
    background-color: skyblue;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px; /* ลดขนาดตัวอักษร */
    padding: 8px 24px; /* ปรับขนาด padding เพื่อให้เป็นสี่เหลี่ยม */
    margin: 4px 2px;
    cursor: pointer;
    position: relative; /* ต้องใช้ position: relative เพื่อทำการจัดตำแหน่ง */
  }
  
  .Rightwards-Arrow {
    position: absolute; /* ตั้งค่าเป็น absolute เพื่อจัดตำแหน่งที่ต้องการ */
    top: 50%; /* จัดให้ตรงกลางตามแนวตั้ง */
    right: 5px; /* จัดตำแหน่งไว้ทางขวา */
    transform: translateY(-50%); /* ย้ายลงมาให้ตรงกลางตามแนวตั้ง */
    font-size: 16px; /* ปรับขนาดของเครื่องหมายถูกต้อง */
    float: right; /* ให้เครื่องหมายถูกต้องจัดไปทางขวา */
  }  

  .buttonstart:hover {
    background-color: rgb(57, 179, 227);
  }
  
  



  
  
  
  